:root {
    --color-primary: #4338CA;
    --color-secondary: #142440;
    --color-white: #fff;
    --color-gray: #ccc;
}

::-webkit-scrollbar {
    width: .5rem;
    background-color: var(--color-white);
    border-left: 1px solid var(--color-gray);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    /* border-radius: 4px; */
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-secondary);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--color-secondary);
}